// **************************************
// Mixins
// **************************************

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@mixin button-styles($button-map) {
  @each $button, $color in $button-map {
    &--#{$button} {
      @extend %grid-and-buttons;
      @extend %buttons;
      background-color: $color;

      @include m-query('tablet') {
        flex-basis: 15%;
      }
    }
  }
}


@mixin flexin($display: null, $direction: null, $wrap: null, $justify: null) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
}


@mixin m-query($break) {
  $value: map-get($breakpoints, $break);
  $mobile: map-get($breakpoints, 'mobile');

  @if $value > $mobile {
    @media (min-width: $value) {
      @content;
    }
  }
}