// **************************************
// Mixins
// **************************************

@mixin center-images {
  display: block;
  margin: 0 auto;
}

@mixin button-styles($button-map) {
  @each $button, $color in $button-map {
    &--#{$button} {
      @extend %buttons;
      background-color: $color;
    }
  }
}