// **************************************
// Placeholders
// **************************************

%nav-item-action {
  border-radius: 4px;
  background-color: $theme-color-green;
  color: $hover-color;
}

%font-weight--light {
  font-weight: $font-weight--light;
}

%buttons {
  font-family: $button-font;
  color: $white;
  width: 100%;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

// grid and buttons used similar styling
%grid-and-buttons {
  font-size: .8em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: .9em;
}