// **************************************
// Variables
// **************************************


//Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap');

$primary-font: 'Lato', sans-serif;

$font-weight--light: 300;
$font-weight--reg: 400;

$font-style-italic: italic;


// Colors - Base Descriptors

$white: white;
$turquoise-blue: #61EDB1; 
$scooter: rgb(50, 219, 224);


// Colors - Usage Variables

$main-font-color: grey;
$hover-color: $white;

$theme-color-green: $turquoise-blue;
$theme-color-blue: $scooter;
