// **************************************
// Variables
// **************************************


//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$primary-font: 'Lato', sans-serif;
$button-font: 'Roboto', sans-serif;

$font-weight--light: 300;
$font-weight--reg: 400;

$font-style-italic: italic;


// Colors - Base Descriptors
$white: white;
$grey: grey;
$turquoise-blue: #61EDB1; 
$scooter: rgb(50, 219, 224);


// Colors - Usage Variables
$main-font-color: $grey;
$hover-color: $white;

$theme-color-green: $turquoise-blue;
$theme-color-blue: $scooter;


// Button color variables
$default-color: $theme-color-blue;
$success-color: #77DD77;
$error-color: #DD7777;
$warning-color: rgb(240, 136, 95);
$info-color: rgb(128, 98, 204);


// grid color variables
$col1-color: null;
$col2-color: null;
$col3-color: #d4abf5;
$col4-color: lighten($theme-color-blue, 20%);
$col5-color: #a0e7a0;
$col6-color: #43adeb;
$col7-color: lighten($error-color, 10%);
$col8-color: lighten(rgb(240, 136, 95), 10%);
$col9-color: $theme-color-green;
$col10-color: null;
$col11-color: null;
$col12-color: #61EDBB;

// Theme colors map for Buttons
$button-theme: (
  'default'  : $default-color,
  'success'  : $success-color,
  'error'    : $error-color,
  'warning'  : $warning-color,
  'info'     : $info-color,
);


// Theme colors list for grid colors
$grid-theme-colors: (
  $col1-color,
  $col2-color,
  $col3-color,
  $col4-color,
  $col5-color,
  $col6-color,
  $col7-color,
  $col8-color,
  $col9-color,
  $col10-color,
  $col11-color,
  $col12-color,
);


// Media query map
$breakpoints: (
  'mobile'     : 480px,
  'tablet'     : 768px,
  'desktop'    : 1024px,
  'desktop-lg' : 1400px,
);

