// **************************************
// styles relating to images
// **************************************


.img {

  &--logo {
    @include center-images;
    text-align: center;
  }

  &--frame {
    max-width: 100%;
  }

  &--avatar {
    @include center-images;
    margin-top: 15px;
  }
}
