// **************************************
// navigation styles
// **************************************


.nav {
  text-align: center;

  @include m-query('tablet') {
    @include flexin($display: flex, $direction: row);
    
    & li {
      margin-left: 15px;
    }
  }
}

.nav__item {

  a {
    display: block;
    color: $main-font-color;
    padding: 15px;

    @include m-query('tablet') {
      padding: 8px 10px;
    }

    &:active {
      @extend %nav-item-action;
    }
    &:hover {
      @extend %nav-item-action;
    }
  }
}
