// **************************************
// navigation styles
// **************************************


.grid__col--3:first-child {
  margin-bottom: 20px;
}

.nav {
  text-align: center;
}

.nav__item {
  a {
    display: block;
    color: $main-font-color;
    padding: 15px;
  }
  a:active {
    @include nav-item-action;
  }
  a:hover {
    @include nav-item-action;
  }
}
