
// **************************************
// base styles
// **************************************


* {
  box-sizing: border-box;
}

/* to remove default list styles, margin, and padding */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.5;
}
